<!DOCTYPE html>
<html>
<head>
	<title>Student Management System</title>
</head>
<body>
	<h1>Welcome to the Student Management System</h1>
	<p>Please choose an action from the navigation menu:</p>
	<ul>
		<li><a href="/students">View all students</a></li>
		<li><a href="/add_student">Add a new student</a></li>
		<li><a href="/sort">Sort students by field</a></li>
		<li><a href="/delete_student">Delete student</a></li>
		<li><a href="/update_student">Update student</a></li>
	</ul>
</body>
</html>
